In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
import matplotlib.pyplot as plt
%matplotlib inline
from chart_studio.plotly import plot, iplot
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols
import scipy.stats as stats

In [3]:
import cufflinks as cf
cf.go_offline()

In [4]:
df=pd.read_csv(r'C:\Users\Kanishk\Downloads\IE Courses\Data Science\Udemy-Machine Learning\border-crossing-entry-data\Border_Crossing_Entry_Data.csv')

In [5]:
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [6]:
df.head(15)

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)
5,Madawaska,Maine,109,US-Canada Border,03/01/2019 12:00:00 AM,Trucks,179,POINT (-68.3271 47.35446)
6,Pembina,North Dakota,3401,US-Canada Border,03/01/2019 12:00:00 AM,Bus Passengers,1054,POINT (-97.24333 48.96639)
7,Progreso,Texas,2309,US-Mexico Border,03/01/2019 12:00:00 AM,Truck Containers Empty,1808,POINT (-97.94889 26.061670000000003)
8,Portal,North Dakota,3403,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Empty,6685,POINT (-102.54917 48.99583)
9,Champlain-Rouses Point,New York,712,US-Canada Border,03/01/2019 12:00:00 AM,Trucks,24759,POINT (-73.44694 44.98639)
10,Opheim,Montana,3317,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicles,235,POINT (-106.40265 48.85574)
11,Neche,North Dakota,3404,US-Canada Border,03/01/2019 12:00:00 AM,Trucks,584,POINT (-97.55444 48.98611)
12,Lancaster,Minnesota,3430,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicles,1612,POINT (-96.82024 48.84911000000001)
13,Derby Line,Vermont,209,US-Canada Border,03/01/2019 12:00:00 AM,Buses,80,POINT (-72.09944 45.005)
14,Sarles,North Dakota,3409,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,509,POINT (-98.99457 48.941050000000004)

In [8]:
df['Date'] = pd.to_datetime(df.Date)



df['Date'].head()

0   2019-03-01
1   2019-03-01
2   2019-03-01
3   2019-03-01
4   2019-03-01
Name: Date, dtype: datetime64[ns]

In [9]:
# Reset our index so datetime_utc becomes a column
df.reset_index(inplace=True)

# Create new columns

df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df.head()

,index,Port Name,State,Port Code,Border,Date,Measure,Value,Location,Month,Year
0,0,Calexico East,California,2507,US-Mexico Border,2019-03-01,Trucks,34447,POINT (-115.48433000000001 32.67524),3,2019
1,1,Van Buren,Maine,108,US-Canada Border,2019-03-01,Rail Containers Full,428,POINT (-67.94271 47.16207),3,2019
2,2,Otay Mesa,California,2506,US-Mexico Border,2019-03-01,Trucks,81217,POINT (-117.05333 32.57333),3,2019
3,3,Nogales,Arizona,2604,US-Mexico Border,2019-03-01,Trains,62,POINT (-110.93361 31.340279999999996),3,2019
4,4,Trout River,New York,715,US-Canada Border,2019-03-01,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005),3,2019

In [10]:
Month = {1: 'January', 2: 'Feb', 3: 'March',4: 'April',5: 'May',6: 'June',7: 'July',8: 'August',9: 'September',10: 'October',11: 'November',12: 'December'}
df['Month'] = df['Month'].map(Month)

In [11]:
df.head()

,index,Port Name,State,Port Code,Border,Date,Measure,Value,Location,Month,Year
0,0,Calexico East,California,2507,US-Mexico Border,2019-03-01,Trucks,34447,POINT (-115.48433000000001 32.67524),March,2019
1,1,Van Buren,Maine,108,US-Canada Border,2019-03-01,Rail Containers Full,428,POINT (-67.94271 47.16207),March,2019
2,2,Otay Mesa,California,2506,US-Mexico Border,2019-03-01,Trucks,81217,POINT (-117.05333 32.57333),March,2019
3,3,Nogales,Arizona,2604,US-Mexico Border,2019-03-01,Trains,62,POINT (-110.93361 31.340279999999996),March,2019
4,4,Trout River,New York,715,US-Canada Border,2019-03-01,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005),March,2019

# Data Cleaning

## 1. Dropping Location Coordinates column

In [15]:
df=df.drop(columns=['Date'])
df.head()

,Port Name,State,Border,Measure,Value,Month,Year
0,Calexico East,California,US-Mexico Border,Trucks,34447,March,2019
1,Van Buren,Maine,US-Canada Border,Rail Containers Full,428,March,2019
2,Otay Mesa,California,US-Mexico Border,Trucks,81217,March,2019
3,Nogales,Arizona,US-Mexico Border,Trains,62,March,2019
4,Trout River,New York,US-Canada Border,Personal Vehicle Passengers,16377,March,2019

## 2. Date Column Filtering

In [ ]:
df['Date']=df.Date.apply(lambda x: x.replace('12:00:00 AM',''))
df.head()

In [ ]:
df=df.drop(columns=['Port Code'])
df.head()

# Statistical Description

## 1. Month-Wise Statistical Description

### 1. Ordinary Least Square Model

In [10]:
R1 = ols('Value ~ C(Month)', data=df).fit()
R1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Value   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     4.195
Date:                Sun, 01 Dec 2019   Prob (F-statistic):           3.06e-06
Time:                        20:30:13   Log-Likelihood:            -4.6287e+06
No. Observations:              346733   AIC:                         9.258e+06
Df Residuals:                  346721   BIC:                         9.258e+06
Df Model:                          11
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept              2.731e+04    894.171     30.545      0.000    2.56e+04    2.91e+04
C(Month)[T.August]     4389.3225   1268.437      3.460      0.001    1903.223    6875.422
C(Month)[T.December]   1320.1728   1269.933      1.040      0.299   -1168.858    3809.204
C(Month)[T.Feb]       -2485.6825   1256.049     -1.979      0.048   -4947.502     -23.863
C(Month)[T.January]    -725.2690   1256.112     -0.577      0.564   -3187.211    1736.673
C(Month)[T.July]       3642.0675   1263.662      2.882      0.004    1165.326    6118.809
C(Month)[T.June]        973.6386   1263.314      0.771      0.441   -1502.419    3449.696
C(Month)[T.March]      1263.9563   1256.028      1.006      0.314   -1197.822    3725.735
C(Month)[T.May]        1379.0374   1263.553      1.091      0.275   -1097.490    3855.565
C(Month)[T.November]   -199.7338   1269.504     -0.157      0.875   -2687.925    2288.457
C(Month)[T.October]     697.5519   1268.616      0.550      0.582   -1788.899    3184.003
C(Month)[T.September]   393.4366   1268.560      0.310      0.756   -2092.905    2879.778
==============================================================================
Omnibus:                   569811.296   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        437695415.234
Skew:                          11.106   Prob(JB):                         0.00
Kurtosis:                     175.635   Cond. No.                         12.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### 2. Anova Table

In [11]:
Av1=sm.stats.anova_lm(R1, typ=1)
Av1

                df        sum_sq       mean_sq         F    PR(>F)
C(Month)      11.0  1.063968e+12  9.672440e+10  4.194692  0.000003
Residual  346721.0  7.994956e+15  2.305876e+10       NaN       NaN

### 3. Post Tukey HUC Test

In [13]:
vs = MultiComparison(df['Value'], df['Month'])
result = vs.tukeyhsd()
 
print(result)
print(vs.groupsunique)

       Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================================
 group1    group2   meandiff  p-adj     lower      upper    reject
------------------------------------------------------------------
   April    August  4389.3225 0.0269    243.9198  8534.7253   True
   April  December  1320.1728    0.9  -2830.1176  5470.4633  False
   April       Feb -2485.6825 0.6814  -6590.5998  1619.2348  False
   April   January   -725.269    0.9  -4830.3913  3379.8533  False
   April      July  3642.0675  0.147   -487.7309  7771.8659  False
   April      June   973.6386    0.9  -3155.0201  5102.2973  False
   April     March  1263.9563    0.9  -2840.8927  5368.8053  False
   April       May  1379.0374    0.9  -2750.4045  5508.4794  False
   April  November  -199.7338    0.9  -4348.6237  3949.1561  False
   April   October   697.5519    0.9  -3448.4367  4843.5405  False
   April September   393.4366    0.9  -3752.3689   4539.242  False
  August  December -3069.1497 0.4028  -7232.0961  1093.7968  False
  August       Feb  -6875.005  0.001 -10992.7177 -2757.2922   True
  August   January -5114.5915 0.0029  -9232.5086  -996.6744   True
  August      July   -747.255    0.9   -4889.772  3395.2619  False
  August      June -3415.6839 0.2285  -7557.0647   725.6969  False
  August     March -3125.3662 0.3534  -7243.0109   992.2784  False
  August       May -3010.2851 0.4271  -7152.4468  1131.8766  False
  August  November -4589.0563 0.0164  -8750.6065  -427.5062   True
  August   October -3691.7706 0.1399  -7850.4283   466.8871  False
  August September -3995.8859 0.0737  -8154.3611   162.5892  False
December       Feb -3805.8553 0.1036  -7928.4886    316.778  False
December   January -2045.4418    0.9  -6168.2793  2077.3956  False
December      July  2321.8946 0.7752  -1825.5135  6469.3028  False
December      June  -346.5342    0.9  -4492.8075  3799.7391  False
December     March   -56.2165    0.9  -4178.7818  4066.3488  False
December       May    58.8646    0.9  -4088.1886  4205.9178  False
December  November -1519.9067    0.9  -5686.3256  2646.5123  False
December   October  -622.6209    0.9  -4786.1508  3540.9089  False
December September  -926.7363    0.9  -5090.0838  3236.6112  False
     Feb   January  1760.4135    0.9  -2316.7453  5837.5722  False
     Feb      July  6127.7499  0.001   2025.7469  10229.753   True
     Feb      June  3459.3211 0.1988   -641.5346  7560.1768  False
     Feb     March  3749.6388 0.1069   -327.2448  7826.5223  False
     Feb       May  3864.7199 0.0875   -236.9244  7966.3642  False
     Feb  November  2285.9486 0.7858  -1835.2747   6407.172  False
     Feb   October  3183.2344 0.3234   -935.0682  7301.5369  False
     Feb September   2879.119 0.4888  -1238.9992  6997.2372  False
 January      July  4367.3365 0.0253    265.1283  8469.5447   True
 January      June  1698.9076    0.9  -2402.1532  5799.9685  False
 January     March  1989.2253    0.9  -2087.8647  6066.3153  False
 January       May  2104.3064 0.8714   -1997.543  6206.1559  False
 January  November   525.5352    0.9  -3595.8924  4646.9627  False
 January   October  1422.8209    0.9   -2695.686  5541.3278  False
 January September  1118.7056    0.9   -2999.617  5237.0281  False
    July      June -2668.4289 0.5967  -6794.1901  1457.3324  False
    July     March -2378.1112 0.7343  -6480.0459  1723.8235  False
    July       May   -2263.03 0.7987  -6389.5751   1863.515  False
    July  November -3841.8013 0.1004  -7987.8079   304.2053  False
    July   October -2944.5156 0.4635  -7087.6189  1198.5877  False
    July September -3248.6309 0.3016  -7391.5509   894.2891  False
    June     March   290.3177    0.9  -3810.4696   4391.105  False
    June       May   405.3988    0.9  -3720.0057  4530.8033  False
    June  November -1173.3724    0.9  -5318.2438  2971.4989  False
    June   October  -276.0867    0.9   -4418.054  3865.8805  False
    June September  -580.2021    0.9   -4721.986  3561.5819  False
   March       May   115.0811    0.9  -3986.4947   4216.657  False
   March  November -1463.6901    0.9  -5584.8454  2657.4652  False
   March   October  -566.4044    0.9  -4684.6389  3551.8301  False
   March September  -870.5197    0.9  -4988.5698  3247.5304  False
     May  November -1578.7713    0.9  -5724.4228  2566.8803  False
     May   October  -681.4856    0.9  -4824.2336  3461.2625  False
     May September  -985.6009    0.9  -5128.1656  3156.9639  False
November   October   897.2857    0.9  -3264.8481  5059.4195  False
November September   593.1704    0.9  -3568.7809  4755.1217  False
 October September  -304.1153    0.9  -4463.1745  3854.9438  False
------------------------------------------------------------------
['April' 'August' 'December' 'Feb' 'January' 'July' 'June' 'March' 'May'
 'November' 'October' 'September']